@model IEnumerable<PAR_Site.Models.ViewModel>
@{
    ViewBag.Title = "UserAllPars";
}

@using (Html.BeginForm())
{
    <div class="col-lg-9" style="margin-top:-35px;">
        <p><strong><a href="~/Default/Index" style="text-decoration:underline"><i class="fa fa-home"></i> Main Menu</a></strong> >> PAR Details</p>
        <div class="col-lg-12" style="background-color: lightskyblue;margin-top:5px; color: white;">
            <h5><b>My PAR's</b></h5>
        </div>
        <br />
        <br />
        <br />
        <div class="col-lg-12" style="background-color:lightskyblue; color:white;">
            <h5><b>Assign To Me</b></h5>
        </div>
        <table class="table-striped" width="100%">
            <thead>
                <tr>
                    <td><div style="width:99px;" id="OpenPars">Work Order</div></td>
                    <td><div style="width:237px;" id="OpenPars">Subject</div></td>
                    <td><div style="width:67px;" id="OpenPars">PAR #</div></td>
                    <td><div style="width:97px;" id="OpenPars">Opened</div></td>
                    <td><div style="width:100px;" id="OpenPars">Status</div></td>
                    <td><div style="width:112px;" id="OpenPars">Initiated By</div></td>
                    <td><div style="width:112px;" id="OpenPars">Assigned To</div></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.OpenTechUser)
                {
                    <tr>
                        <td><div style="width:99px;" id="ParFields">@item.Map</div></td>
                        <td><div style="width:237px;text-align:left;" id="ParFields"><a>@Html.ActionLink((string)item.TicketTittle, "UpdatePar", "TicketManager", new { id = item.TicketID }, null)</a></div></td>
                        <td><div style="width:67px;" id="ParFields">@item.TicketID</div></td>
                        <td><div style="width:97px;" id="ParFields">@item.OpenDate</div></td>
                        <td><div style="width:100px;" id="ParFields">@item.Status</div></td>
                        <td><div style="width:112px;" id="ParFields">@item.InitiatedBy</div></td>
                        <td><div style="width:112px;" id="ParFields">@item.AssignTo</div></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="col-lg-12" style="background-color:lightskyblue; color:white;">
            <h5><b>Created By Me</b></h5>
        </div>
        <table class="table-striped" width="100%">
            <thead>
                <tr>
                    <td><div style="width:99px;" id="OpenPars">Work Order</div></td>
                    <td><div style="width:237px;" id="OpenPars">Subject</div></td>
                    <td><div style="width:67px;" id="OpenPars">PAR #</div></td>
                    <td><div style="width:97px;" id="OpenPars">Opened</div></td>
                    <td><div style="width:100px;" id="OpenPars">Status</div></td>
                    <td><div style="width:112px;" id="OpenPars">Initiated By</div></td>
                    <td><div style="width:112px;" id="OpenPars">Assigned To</div></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.UserOpenPar)
                {
                    <tr>
                        <td><div style="width:99px;" id="ParFields">@item.Map</div></td>
                        <td><div style="width:237px;text-align:left;" id="ParFields"><a>@Html.ActionLink((string)item.TicketTittle, "UpdatePar", "TicketManager", new { id = item.TicketID }, null)</a></div></td>
                        <td><div style="width:67px;" id="ParFields">@item.TicketID</div></td>
                        <td><div style="width:97px;" id="ParFields">@item.OpenDate</div></td>
                        <td><div style="width:100px;" id="ParFields">@item.Status</div></td>
                        <td><div style="width:112px;" id="ParFields">@item.InitiatedBy</div></td>
                        <td><div style="width:112px;" id="ParFields">@item.AssignTo</div></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
       
    </div>

}
