@model PAR_Site.Models._CreatePar

@using (Html.BeginForm("CreatePars", "TicketManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="col-lg-9" style="margin-top:-35px;">
        <p><strong><a href="~/Default/Index" style="text-decoration:underline"><i class="fa fa-home"></i> Main Menu</a></strong> >> Create New PAR</p>
        <div class="col-lg-12" style="background-color: lightskyblue; margin-top: 5px;color: white;">
            <h5><b>PAR Information</b></h5>
        </div>
        <div class="col-lg-12">
            <br />
            <p>Fill out the form below to create a new PAR. Required items are marked with an asterisk (*).</p>
            <p><b>Note:</b> If you need to attach supporting materials to this PAR (i.e. images, documents) you will be prompted to do so after the PAR has been created.</p>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-2" id="NewPar_Title">Division: *</div>
            <div class="col-lg-4" id="NewPar_Input">
                @Html.DropDownList("DivisionName", new SelectList(ViewBag.Division, "Value", "Text"), "- Select -", new { @id = "ddl_Fields", @class = "text-danger", required = "required" })
            </div>
            <div class="col-lg-2" id="NewPar_Title">Assign To: *</div>
            <div class="col-lg-4" id="NewPar_Input">
                @Html.DropDownList("TechName", new SelectList(ViewBag.username, "Value", "Text"), "- Select -", new { @id = "ddl_Fields", @class = "text-danger", required = "required" })
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-2" id="NewPar_Title">Issue: *</div>
            <div class="col-lg-4" id="NewPar_Input">
                @Html.DropDownList("Issue", new SelectList(ViewBag.Issue, "Value", "Text"), "- Select -", new { @id = "ddl_Fields", @class = "text-danger", required = "required" })
            </div>
            <div class="col-lg-2" id="NewPar_Title">Work Order Number: *</div>
            <div class="col-lg-4" id="NewPar_Input">
                @Html.TextBoxFor(m => m.WorkOrderNo, new { @id = "Input_Fields", @class = "text-danger", required = "required" })
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-2" id="NewPar_Title">Subject: *</div>
            <div class="col-lg-10" id="NewPar_Input">
                @Html.TextBoxFor(m => m.Subject, new { @id = "TxtSubject", @class = "text-danger", required = "required" })
            </div>

        </div>
        <div class="col-lg-12">
            <div class="col-lg-2" id="NewPar_DescriptionTitle">Description: *</div>
            <div class="col-lg-10" id="NewPar_Description">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "Txtarea", @rows = "7", required = "required" })
            </div>
        </div>


        <div class="col-lg-10">
            <br />
            <p>Use the file upload tool to add files to your file library. Uploading files to your file library ensures that any member of our staff (or yours) will have access to critical files at any time.</p>
            <b>Attachment:</b>@Html.TextBoxFor(m => m.Files, new { @type = "file", @multiple = "multiple" })
        </div>
        <div class="col-lg-2">
            <br /><br /><br />
            <button class="btn btn-primary" type="submit" id="btnCreatePar" style="float: right;">- Create PAR -</button>
        </div>

    </div>

}

